.buttonsDiv {
  display: flex;
  flex-wrap: wrap; /* Zeilenumbruch nur bei zu wenig Platz */
  gap: 1vw;        /* Abstand zwischen Buttons */
}

/*
div {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
}
#headDiv {
  padding-top: 1vw;
  padding-left: 0.5vw;
  height: 10vh;
}
#mainDiv {
vertical-align: middle;
margin-top: 25vh;
}
.titleDiv {
  padding-top: .01vw;
  padding-bottom: .01vw;
}
*/