.selectionLinks {
    text-decoration-line: none;
    color: black;
    font-size: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 0.4vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
}
#firstSelectionLink {
    margin-left: 34vw;
}
#lastSelectionLinks {
    margin-right: 34vw;
}