
/*
p {
  font-family: helvetica;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
  text-align: center;
}

.title {
  color: rgb(0, 0, 0);
  float: inline-start;
  vertical-align: middle;
  font-size: 5vh;
  font-weight: bold;
}
  
.text {
  margin-top: 2vw;
 font-size: 1vw;
  font-weight: 100;
  margin-bottom: 50px;
  color: rgb(0, 0, 0);
}

*/