p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
  text-align: center;
}
.title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: helvetica;
  font-size: 8vh;
  font-weight: bolder;
  text-shadow: 5px 5px 5px rgb(55, 64, 66);
}
  
.text {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

#dicordComment {
  height: 30px;
  width: 100px;
}
