p {
  font-family: helvetica;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
  text-align: center;
}

#title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 8vh;
  font-weight: bolder;
}
  
.text {
  margin-top: 2vw;
 font-size: 1vw;
  font-weight: 100;
  margin-bottom: 50px;
  color: white;
}

