button {
  display: block;
  font-family: Arial;
  text-decoration: none;
  background-color: rgb(88, 101, 242);
  color: white;
  font-weight: bold;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: white;
  color: rgb(88, 101, 242);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
}

button:active {
  color: rgb(0, 0, 59);
}

#youtubeButton {
    background-color: red;
}

#twitterButton {
    background-color: black;
}

#tiktokButton {
    background-color: black;
    color: white;
}

#tiktokButtonText {
  text-shadow: 1px 1px rgba(255, 0, 102, 1), -1px -1px rgba(0, 204, 255, 1);
}