.HeadOfSite {
    height: 120px;
    background-color: rgb(51, 153, 153);
    border-radius: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.background {
  background-color: rgb(51, 153, 153);
  height: 100px;
  width: 90%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);


}