#DPlogo {
    float: left;
    height: 10vh;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-style: none;
    border-radius:100px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
}
#youtubeLogo {
    vertical-align: middle;
    float: left;
    height: 1vh;
}
